$primary: #4452fe;
$secondary: #02e4c0;
$dark-blue: #112d57;
$primary-text: #ffffff;
$dark-text: #000000;
$secondary-text: #5c5c5c;
$dark-background: #181818;
$light-background: #ffffff;

$space-grotesk: "Space Grotesk", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px;
}

body {
  font-size: 1.6rem;
  color: $primary-text;
  background: $dark-background;
  font-family: $space-grotesk;

  @media screen and (width <= 600px) {
    font-size: 1.4rem;
  }
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 8rem;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 5.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}

header {
  max-width: 1097px;
  margin: 0 auto 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.4rem 3.9rem;

  .logo {
    width: 18.6rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 3rem;

    a {
      padding: 1rem;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  button {
    width: 6.6rem;
    padding: 1.3rem 1.1rem;
    background: transparent;
    border: none;
    display: none;
  }

  @media screen and (width <= 870px) {
    ul {
      display: none;
    }

    button {
      display: initial;
    }
  }
}

.action-link {
  font-size: 1.7rem;
  line-height: 1.5;
  border: solid;
  text-decoration: none;
  color: $primary-text;
}

.action-link--l {
  padding: 2rem 4rem;
}

.action-link--m {
  padding: 1.35rem 4.6rem;

  @media screen and (width <= 550px) {
    font-size: 1.5rem;
    padding: 1rem 3.6rem;
  }
}

.paragraph--l {
  font-size: 2rem;
  line-height: 1.5;
}

.paragraph--m {
  font-size: 1.6rem;
  line-height: 1.25;
}

.hero {
  margin-bottom: 16.2rem;

  &__top {
    max-width: 729px;
    margin: 0 auto 3.5rem;
    text-align: center;
    padding-inline: 5rem;
  }

  h1 {
    margin-bottom: 1.7rem;
  }

  p {
    margin-bottom: 9.5rem;
  }

  &__button-wrapper {
    display: flex;
    gap: 3.5rem;
    justify-content: center;

    button:first-child {
      background: $primary;
      border: $primary;
    }

    button:last-child {
      background: transparent;
    }

    @media screen and (width <= 549px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.features {
  text-align: center;
  margin-bottom: 21.2rem;

  h2 {
    margin-bottom: 2.7rem;
  }

  & > div {
    max-width: 108.8rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 30.9rem;
    row-gap: 4rem;

    @media screen and (width <= 700px) {
      grid-template-columns: 1fr;
      padding-inline: 5rem;
    }
  }

  & > p {
    max-width: 60.2rem;
    margin: 0 auto 8rem;
  }

  // ul {
  //   display: flex;
  // }

  ul li {
    list-style: none;
    text-align: left;
    margin-bottom: 5.2rem;

    & > div {
      display: flex;
      gap: 1.3rem;
      margin-bottom: 2rem;

      h3 {
        max-width: 17.3rem;
      }
    }

    img {
      width: 2.5rem;
    }
  }
}

.contents {
  text-align: center;
  > p {
    margin-bottom: 4rem;
  }
}
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  @media screen and (width<=647px) {
    flex-direction: column;
    margin-inline: 5rem;
  }
  .card {
    border: solid;
    background-color: $light-background;
    color: $dark-text;
    max-width: 47.6rem;
    text-align: center;
    border-radius: 10px;
    padding-block: 3rem;
    margin-bottom: 15rem;
    img {
      padding: 5rem;
    }
    h6 {
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    p {
      padding-inline: 9rem;
    }
    a {
      color: $primary-text;
      display: inline-block;
      margin-block: 20px;
      background-color: $primary;
    }
    &:last-of-type {
      img {
        width: 74%;
        margin: auto;
        padding-inline: 0;
        padding-block: 2.1rem;
      }
    }
  }
}
.gallery {
  text-align: center;
  margin: auto;
  margin-bottom: 15rem;
  .gallery-items {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    column-gap: 3.3rem;
    align-items: center;
    margin-block: 4.4rem;
    padding: 80px;
  }
  img {
    max-width: 225px;
    border-radius: 15px;
  }
}
.gallery-item {
  max-width: 1300px;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 3.3rem;
  margin-block: 4.4rem;
  img {
    max-width: 225px;
    border-radius: 15px;
  }
  @media screen and (width<=744px) {
    display: none;
  }
}

.partners {
  text-align: center;

  .partners-logo {
    max-width: 831px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    padding: 10rem;

    img {
      width: 60px;
    }
  }
}

.testimonials {
  padding-bottom: 5rem;
  text-align: center;

  h2 {
    margin-top: 16rem;
  }
  .test-items {
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    @media screen and (width<880px) {
      grid-template-columns: 1fr;
    }
  }
  .test-item {
    max-width: 43rem;
    color: $primary-text;
    border: solid $primary-text;
    padding: 5rem 3rem;
    border-radius: 10px;
  }
  .test-header {
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }
  h6 {
    display: inline-block;
    margin-left: 22px;
    font-size: 25px;
    text-align: left;
  }
  .test-text {
    margin-top: 2rem;
    p {
      font-family: $primary-text;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: $primary-text;
    }
  }
}

.openType {
  background-color: #343434;
  max-width: 1200px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  @media screen and (width<1050px) {
    text-align: center;
    flex-direction: column;
    border-radius: 0px;
  }

  .openType-img {
    @media screen and (width<1050px) {
      display: block;
      width: 100%;
      padding-inline: 10rem;
      background-color: $dark-background;
    }
  }

  .openType-text {
    max-width: 600px;
    h3 {
      font-size: 52px;
      text-align: left;
      padding-left: 20px;
      @media screen and (width<1050px) {
        text-align: center;
        padding-block: 5rem;
      }
    }
    a {
      text-decoration: none;
      display: inline-block;
      padding: 15px 40px;
      margin-right: 4.5rem;
      margin-top: 2rem;
      margin-left: 2.1rem;

      background-color: $primary;
      margin-bottom: 3rem;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 27.5rem;
  margin-top: 20rem;
  padding-bottom: 10rem;

  @media screen and (width<1200px) {
    flex-direction: column;
  }
  .footer-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    @media screen and (width<900px) {
      flex-direction: column;
    }

    .footer-item {
      @media screen and (width<1200px) {
        margin-right: 4rem;
      }
      ul {
        li {
          list-style-type: none;
          span {
            a {
              font-size: 22px;
              text-decoration: none;
              color: $primary-text;
            }
          }
          a {
            text-align: left;
            display: block;
            margin-bottom: 3rem;
            font-size: 16px;
            text-decoration: none;
            color: $primary-text;
          }
        }
      }
    }
  }
}
.footer-socials {
  .socials-item {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $primary-text;
    }
    img {
      width: 41px;
    }
  }
  .social-icons {
    width: 300px;
    display: flex;
  }
  a {
    img {
      width: 41px;
    }
  }
}
